<?xml version="1.0" encoding="UTF-8"?>
<settings>
    
    <!-- set this to true for production, and false for development/localization -->
    <cache-messages>false</cache-messages>
    
    <dashboard-widgets>
    </dashboard-widgets>
    
    <!-- how far ahead to set the browser's cache -->
    <max-age>0</max-age>
    
    <!-- This is a comma separated list of features that should be loaded into the cache at startup -->
    <cache-prime>country</cache-prime> <!-- only load country as part of the startup to save time -->
    
    <cache>false</cache>

	<!-- These elements identify the classes to be used for the main objects in this plugin -->    
	<IGeoStorage>com.pentaho.geo.service.DefaultGeoStorage</IGeoStorage>    
	<IGeoService>com.pentaho.geo.service.DefaultGeoService</IGeoService>
	<IGeoImporter>com.pentaho.geo.service.CsvReader</IGeoImporter>

  <!-- milliseconds to wait for the map to complete rendering (map layers & bubble layers before capturing it as an image to export -->
  <map-export-javascript-delay>1200</map-export-javascript-delay>

</settings>