<?xml version='1.0' encoding='UTF-8'?>
<beans
  xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
           <!--  Analyzer Web Visualization -->
  <bean id="visualizationBean" class="org.pentaho.agilebi.pdi.visualizations.prpt.PRPTVisualization">
      <property name="title" value="Pentaho Report"/>
  </bean>

</beans>