<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
        <servlet>
                <servlet-name>ModelerService</servlet-name>
                <servlet-class>org.pentaho.agilebi.modeler.gwt.services.GwtModelerDebugServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>ModelerService</servlet-name>
                <url-pattern>/agilebi/modelerService</url-pattern>
        </servlet-mapping>
</web-app>