<?xml version='1.0' encoding='UTF-8'?>
<beans
  xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
  <bean id="visualizationBean" class="org.pentaho.agilebi.pdi.visualizations.web.WebVisualization">
    <property name="title" value="JPivot"/>
    <property name="url" value="http://localhost:9999/pentaho/PivotView?catalog=${fileLocation}&amp;cube=${modelId}"/>
    <property name="order" value="-1"/>
  </bean>
</beans>